<!DOCTYPE html>
<html data-ng-app="demoapp">

<head>
	<title>Static timeline. Basic Example.</title>

	<link rel="stylesheet" href="../../dist/sentio.css" />

	<script src="../../src/lib/angular/angular.js"></script>
	<script src="../../src/lib/d3/d3.js" charset="utf-8"></script>
	<script src="../../dist/sentio.js" charset="utf-8"></script>
	<script src="../../dist/sentio-angular.js" charset="utf-8"></script>

	<script>
		var app = angular.module("demoapp", ["sentio"]);
		app.controller("DemoController", [ "$scope", "$timeout", function($scope, $timeout) {

			$scope.model = [];
			$scope.markers = [];

			var interval = 60000;
			var binSize = 1000;
			var hwm = Date.now();

			$scope.generateData = function(start) {
				var toReturn = [];
				for(var i=0; i<interval/binSize; i++) {
					toReturn.push([start + i * binSize, Math.random() * 10]);
				}
				return toReturn;
			};

			$scope.generateMarkers = function(start, samples) {
				$scope.markers = [];

				var toReturn = [];
				for(var i=0; i < samples; i++){
					toReturn.push([start + Math.random() * interval, i]);
				}
				return toReturn;
			};

			$scope.updateData = function() {
				hwm = Date.now();
				$scope.model = [{ key: 'series1', data: $scope.generateData(hwm - interval) }];
				$scope.markers = $scope.generateMarkers(hwm - interval, 25);
			}

			$scope.filter = function(filterState){
				console.log(filterState);
			};

			$scope.markerClicked = function(marker) {
				console.log(marker);
			};

			$scope.updateFilter = function() {
				var lf = hwm - Math.random() * interval;
				var hf = lf + Math.random() * 20000;
				var newFilter = [lf, hf];
				console.log({m: 'Applying filter', filter: newFilter});

				$scope.filterState = newFilter;
			};

			$scope.$watch('filterState', function(n, o) {
				console.log({ msg: 'Watch Filter', filter: n });
			});

			$scope.updateData();

		}]);

	</script>

	<style>
	</style>

</head>
<body data-ng-controller="DemoController">
	<h1>Static timeline example</h1>
	<p>AngularJS integrated D3 static timeline example</p>
	<div data-sentio-timeline style="height:250px;"
		data-sentio-model="model"
		data-sentio-markers="markers"
		data-sentio-marker-clicked="markerClicked(m)"
		data-sentio-y-extent="yExtent"
		data-sentio-resize-width=""
		data-sentio-filter-fn="filter(filterState)"
		data-sentio-filter-state="filterState"></div>

	<button data-ng-click="updateData()">Update Data</button>
	<button data-ng-click="updateFilter()">Update Filter</button>
</body>
	
</html>

