<!DOCTYPE html>
<html data-ng-app="demoapp">

<head>
	<title>Realtime timeline. Basic Example.</title>

	<link rel="stylesheet" href="../../../dist/sentio.css" />

	<script src="../../../src/lib/angular/angular.js"></script>
	<script src="../../../src/lib/d3/d3.js" charset="utf-8"></script>
	<script src="../../../dist/sentio.js" charset="utf-8"></script>
	<script src="../../../dist/sentio-angular.js" charset="utf-8"></script>

	<script>
		var app = angular.module("demoapp", ["sentio.realtime"]);
		app.controller("DemoController", [ "$scope", "$timeout", function($scope, $timeout) {

			var data = [];
			$scope.model = [];
			$scope.markers = [];
			$scope.fps = 32;
			$scope.interval = 30000;
			$scope.delay = 0;
			$scope.yExtent = [0, undefined];
			$scope.api = {};

			$scope.hoverText = '';
			$scope.markerLabel = '';

			$scope.configure = function(timeline){
			};

			// Update the data and markers
			var update = function(){
				var now = Math.floor(Date.now() / 1000)*1000;
				data.push([now, (now%10000) / 1000]);
				while(data.length > ($scope.interval + $scope.delay)/1000 + 1) {
					data.shift();
				}
				$scope.model = [{key: 'series1', data: data}];

				while($scope.markers.length > 0 && $scope.markers[0][0] < Date.now() - $scope.interval - $scope.delay) {
					$scope.markers.shift();
				}

				$timeout(update, 1000);
			};
			update();

			// Add a marker
			$scope.addMarker = function() {
				var now = Date.now();
				$scope.markers.push([now, $scope.markerLabel]);
				$scope.markerLabel = '';
			};

			// Start and stop the timeline
			$scope.doStart = function() {
				$scope.api.start();
			};
			$scope.doStop = function() {
				$scope.api.stop();
			};

			/**
			 * Method invoked when a marker is hovered over
			 */
			$scope.markerHover = function(payload) {
				console.log('Hover Payload: ' + JSON.stringify(payload));
				$scope.hoverText = JSON.stringify(payload);
			};

		}]);

	</script>

	<style>
	</style>

</head>
<body data-ng-controller="DemoController">
	<h1>Real-time timeline example</h1>
	<p>AngularJS integrated D3 Real-time timeline example</p>
	<div data-sentio-rt-timeline style="height:100px;"
		data-sentio-model="model"
		data-sentio-markers="markers"
		data-sentio-marker-hover="markerHover"
		data-sentio-interval="interval"
		data-sentio-delay="delay"
		data-sentio-fps="fps"
		data-sentio-api="api"
		data-sentio-y-extent="yExtent"
		data-sentio-resize-width=""
		data-sentio-configure-fn="configure(timeline)"></div>

	<label for="delay">Delay: </label>
	<input type="text" data-ng-model="delay" placeholder="delay"/>
	<br/>

	<div>
		<label for="fps">FPS: </label>
		<input id="fps" type="text" data-ng-model="fps" placeholder="fps"/>
	</div>

	<div>
		<input id="markerLabel" type="text" data-ng-model="markerLabel" placeholder="Marker Label"/>
		<button data-ng-click="addMarker()">Add Marker</button>
	</div>

	<div>
		<button data-ng-click="doStart()">Start</button>
		<button data-ng-click="doStop()">Stop</button>
	</div>

	<div data-ng-show="hoverText != null && hoverText != ''">
		<label>Hover Payload</label>
		<input type="text" data-ng-model="hoverText" />
	</div>

</body>
	
</html>

