/*
=======================================
	Vertical Bar Chart
=======================================
*/

.sentio.bars-vertical {
	position: relative;
}

.sentio.bars-vertical .bar {
	position: absolute;
	overflow: visible;
	white-space: nowrap;

	background-color: #ddd;

	font: 12px sans-serif;
	color: black;
}
.sentio.bars-vertical .bar:hover {
	background-color: #bbb;
}

.sentio.bars-vertical .bar-label {
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	margin: 5px 5px 5px 5px;
}
