/*
=======================================
	Donut Chart
=======================================
*/

.sentio.donut svg {
	padding: 2px;
}
.sentio.donut .arc{
	stroke: none;
}

.sentio.donut .arc:hover {
	stroke-width: 1.5px;
	stroke: #000;
}
