/*
=======================================
	Line Chart
=======================================
*/

.sentio.line {
	position: relative;
}

.sentio.line .marker line {
	stroke-width: 1;
}

.sentio.line .axis path,
.sentio.line .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.sentio.line .brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.sentio.line .g-main {
	pointer-events: none;
}

.sentio.line .mouse-container {
	visibility: hidden;
	pointer-events: all;
	cursor: crosshair;
}

.sentio.line .hover-line {
	stroke: gray;
	stroke-width: 1.5;
}

.line_tooltip {
	visibility: hidden;
	position: absolute;
	z-index: 2000;
	background-color: black;
	background-color: rgba(0,0,0,0.8);
	border-radius: 5px;
	padding: 3px;
	pointer-events: none;
	white-space: nowrap;
}

.sentio.line .axis line {
	stroke: rgba(150, 150, 150, 0.1);
}

.sentio.line .axis path {
	stroke: rgba(128, 128, 128, 1);
}