/*
=======================================
	Matrix Chart
=======================================
*/

.sentio.matrix .axis.x line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.sentio.matrix .axis.x path {
	fill: none;
	stroke: none;
}

.sentio.matrix .series.label {
	fill: black;
}
.sentio.matrix .series.label.active {
	fill: red;
}