/*
===================================== 
	Theme Styles 
===================================== 
*/
body {
	padding-top: 70px;
	padding-bottom: 20px;
}

/* Custom title for the sentio pages */
.sentio-title {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #eee;
}
.sentio-title h1, .sentio-title h2, .sentio-title h3 {
	margin-top: 0px;
}


/* Lists */
ul.sentio {
	padding: 0;
	list-style-type: none;
	list-style-position: initial;
	list-style-image: initial;
	
}
ul.sentio.inline li {
	padding: 0 12px 0 0;
	float: left;
}
ul.sentio label {
	color: #999;
	font-size: 12px;
	text-transform: capitalize;
	font-weight: normal;
	margin-bottom: 2px;
}
ul.sentio .value {
	line-height: 20px;
	font-size: 18px;
	font-weight: 300;
}
ul.sentio li {
	padding-bottom: 8px;
}


/* Custom Navbar */
.navbar-sentio {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.navbar-sentio a.navbar-brand {
	padding: 13px 30px 12px;
}
.navbar-sentio a {
	color: #9d0000;
}
.navbar-sentio button.navbar-toggle {
	color: #9d0000;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}
.navbar-sentio a:hover, 
.navbar-sentio a:focus {
	color: #b94a48;
}

.navbar-sentio .nav .caret {
	border-top-color: #9d0000;
	border-bottom-color: #9d0000;
}
.navbar-sentio .nav a:hover .caret {
	border-top-color: #b94a48;
	border-bottom-color: #b94a48;
}
.navbar-sentio .divider-vertical {
	height: 50px;
	width: 1px;
	margin: 0 9px;
	overflow: hidden;
	background-color: #aaa;
	border-right: 1px solid #bbb;
}


/* Table Settings */
table.sentio tr td {
	vertical-align: middle;
}
table.sentio {
	border-bottom: 1px solid #ddd;
}


/* Callouts */
.callout {
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #eee;
}
.callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}
.callout p:last-child {
	margin-bottom: 0;
}

/* Variations */
.callout-danger {
	background-color: #fdf7f7;
	border-color: #eed3d7;
}
.callout-danger h4 {
	color: #b94a48;
}
.callout-warning {
	background-color: #faf8f0;
	border-color: #faebcc;
}
.callout-warning h4 {
	color: #c09853;
}
.callout-info {
	background-color: #f4f8fa;
	border-color: #bce8f1;
}
.callout-info h4 {
	color: #3a87ad;
}
.callout-sentio {
	background-color: #f8f8f8;
	border-color: #e7e7e7e;
}
.callout-sentio h4 {
}
.callout-compact {
	margin: 10px 0;
	padding: 5px;
}

.note {
	font-size: 10px;
	line-height: 12px;
	margin: 0px;
}

/*
 * Buttons
 */
.btn-sentio
{
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}

.btn-sentio:focus,
.btn-sentio:hover,
.btn-sentio:active,
.btn-sentio.active:active {
	border-color: #ffaa00;
}

.btn-sentio.active,
.open .dropdown-toggle.btn-sentio {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}

.btn-sentio:active,
.btn-sentio.active,
.open .dropdown-toggle.btn-sentio {
	background-image: none;
}

.btn-sentio.disabled,
.btn-sentio[disabled],
fieldset[disabled] .btn-sentio,
.btn-sentio.disabled:hover,
.btn-sentio[disabled]:hover,
fieldset[disabled] .btn-sentio:hover,
.btn-sentio.disabled:focus,
.btn-sentio[disabled]:focus,
fieldset[disabled] .btn-sentio:focus,
.btn-sentio.disabled:active,
.btn-sentio[disabled]:active,
fieldset[disabled] .btn-sentio:active,
.btn-sentio.disabled.active,
.btn-sentio[disabled].active,
fieldset[disabled] .btn-sentio.active {
	background-color: #ffffff;
	border-color: #cccccc;
}

/*
===================================== 
	General Utilities 
===================================== 
*/

/* Loading Indicator */
#loadingIndicator {
	font-size: 16px;
	position: fixed;
	bottom: 10px;
	right: 20px;

	opacity: 0;

	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	transition: opacity 0.25s;
}
#loadingIndicator .alert-loading {
	background-color: #eee;
	border-color: #ccc;
	color: #b94a48;
}
.spinner {
	display: inline-block;
	width: 24px;
}
#loadingIndicator.active {
	cursor:progress;
	opacity: .8;
}


/*
=======================================
	Choropleth
=======================================
*/
.sentio.choropleth .map path {
	fill: #aaa;
	stroke: white;
	stroke-linejoin: round;
	stroke-width: 1.0;
}
.sentio.choropleth .map path.highlighted {
	stroke: #67e667;
	stroke-width: 2.0;
}

/*
=======================================
	Table
=======================================
*/
.sentio.data-table tr.highlighted > td {
	background-color: #67e667;
}
.sentio.data-table td, .sentio-data-table th {
	font-size: 12px;
	line-height: 12px;
}

/*
=======================================
	Timeline
=======================================
*/
.sentio.timeline .axis {
	shape-rendering: crispEdges;
	font: 10px sans-serif;
}
.sentio.timeline .axis path {
	display: none;
}
.sentio.timeline .y.axis line,
.sentio.timeline .y.axis path {
	fill: none;
	stroke: #444;
}
.sentio.timeline .x.axis line {
	stroke: #ccc;
	shape-rendering: crispEdges;
}
.sentio.timeline .x.axis .tick {
	stroke-opacity: .5;
}
.sentio.timeline path.area {
	fill: #e7e7e7;
}
.sentio.timeline path.line {
	fill: none;
	stroke: #444;
	stroke-width: 1px;
}
.sentio.timeline .brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

/*
=======================================
	Matrix
=======================================
*/
.sentio.matrix .axis.context line { fill: none; stroke: #ddd; shape-rendering: crispEdges; }
.sentio.matrix .axis.context > .tick > text { text-anchor: start !important; fill: #aaa; stroke: none; }

.sentio.matrix rect.highlight { /* fill: #f71; */ fill: black; stroke: none; }

.sentio.matrix text.series.label.active { fill: red; }

/*
=======================================
	Scatter and Bubble
=======================================
*/
.sentio.bubble line.series.tick { stroke: #ddd; }
.sentio.scatter line.series.tick { stroke: #ddd; }
.sentio.bubble .tick line { stroke: #ddd; }
.sentio.scatter .tick line { stroke: #ddd; }

.sentio.bubble g.bubble circle { fill: none; stroke: none; }
.sentio.bubble g.bubble circle.series { opacity: 0.3; stroke: none; }
.sentio.bubble g.bubble circle.outline { stroke: #000; }
.sentio.bubble g.bubble circle.highlight { stroke: #f71; }

.sentio.scatter circle.point { opacity: 0.8; fill: none; stroke: #000; }
.sentio.scatter circle.point.highlight { stroke: #f71; }

.sentio.bubble g.plot circle.bubble { opacity: 0.8; stroke-width: 3px; }


/*
=======================================
	BarLine
=======================================
*/
.sentio.barLine .y.axis.bar line { fill: none; stroke: none; }


/*
=======================================
	Generic Sentio
=======================================
*/
.sentio text { font: 10px sans-serif; }
/*.sentio svg { background: white; }*/

.sentio .axis path { fill: none; stroke: none; shape-rendering: crispEdges; }
.sentio .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }

.sentio .axis.context line { fill: none; stroke: #ddd; shape-rendering: crispEdges; }
.sentio .axis.context > .tick > text { text-anchor: start !important; fill: #aaa; stroke: none; }

.sentio line.series.tick { fill: none; stroke: #ddd; shape-rendering: crispEdges; }
.sentio .tick line{ fill: none; stroke: #ddd; shape-rendering: crispEdges; }
.sentio text.series.label { fill: #000; stroke: none; shape-rendering: crispEdges; }




/*
=======================================
	Tooltip
=======================================
*/
.sentio.s-tooltip {
	font: 11px sans-serif;
	position: fixed;
	pointer-events: none;
	z-index: 999999999;
}

.sentio .s-tooltip-shadow {
	position: absolute;
	width: 100%; height: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

svg.s-tooltip-box {
	background-color: none;
	position: absolute;
	fill: #fff;
	stroke: #000;
	stroke-opacity: 0.2;
}

.s-tooltip-content {
	padding: 6px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.s-tooltip-title, .s-tooltip-value {
	font-weight: bold;
}

.s-tooltip-title {
	position: relative;
	margin-bottom: 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.s-tooltip-data {
	position: relative;
	clear: right;
	padding: 2px 0;
}

.s-tooltip-data + .s-tooltip-data {
	border-top: solid 1px #eee;
}

.s-tooltip-data-value {
	position: relative;
	float: right;
}

.s-tooltip-data-label {
	position: relative;
	color: #777;
}
/*
=======================================
	Slider
=======================================
*/
.sentio.sliders label{
	color: #333;
}

.sentio-slider {
	margin: 0 0 2px 0;
}

.sentio-slider .ui-slider-disabled .ui-slider-handle {
	background: #ddd;
	border: 1px solid #aaa;
	cursor: not-allowed;
}

.sentio-slider input.checkbox {
	float: left;
	margin: 0;
}

.sentio-slider div.slider {
	top: 3px;
	margin: 0 0 0 25px;
}


/*
=======================================
	Drag and Drop
=======================================
*/
.dropzone {
	height: 10px;
	border: 1px solid transparent;
}

.draggable:hover {
	cursor: pointer;
}
.drag-target {
	border: 1px dashed #f66;
}
.drag-hover {
	border: 1px dashed #3f3;
}

